
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>

    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/Images/bus-stop.svg" class="rounded mx-auto d-block" />
        </div>
        <div class="col-md-6 offset-1">
            <h2>Registro</h2>
            <form action="/Home/AddUser" method="post">
                <div class="form-group row">
                    <div class="col">
                        <label for="inputId">Identificación</label>
                        <input type="number" class="form-control form-control-sm" id="inputId" name="id" value="@ViewData["id"]">
                    </div>
                    <div class="col">
                        <label for="inputDateOfBirth">Fecha Nacimiento</label>
                        <input class="form-control col-12 form-control-sm" type="date" id="inputDateOfBirth" name="dateOfBirth" value="@DateTime.Now.ToString("yyyy-MM-dd").Replace(' ','T')">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="inputName">Nombre</label>
                        <input type="text" class="form-control form-control-sm" id="inputName" name="name" value="@ViewData["name"]" />
                    </div>

                    <div class="col">
                        <label for="inputLastName">Primer Apellido</label>
                        <input type="text" class="form-control form-control-sm" id="inputLastName" name="lastName" value="@ViewData["lastName"]">
                    </div>

                    <div class="col">
                        <label for="inputSecondLastName">Segundo Apellido</label>
                        <input type="text" class="form-control form-control-sm" id="inputSecondLastName" name="secondLastName" value="@ViewData["secondLastName"]">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="inputPaymentMethod">Método de Pago</label>
                    <input class="form-control col-12 form-control-sm" id="inputPaymentMethod" type="number" name="paymentMethod" value="@ViewData["paymentMethod"]">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Correo Electrónico</label>
                    <input type="email" class="form-control col-12 form-control-sm" id="inputEmail" name="email" value="@ViewData["email"]">
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" class="form-control  form-control-sm" id="inputPassword" name="password" value="@ViewData["password"]">
                    </div>

                    <div class="col">
                        <label for="inputPassword2">Repetir Contraseña</label>
                        <input type="password" class="form-control form-control-sm" id="inputPassword2" name="password2" value="@ViewData["password2"]">
                    </div>

                    <div class=" mt-2 text-center col-12"> @ViewData["lblErrorMessage"]</div>

                </div>
                @{
                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-danger mt-2 text-center"> @ViewBag.Message </div>
                    }
                }

                <button type="submit" class="btn btn-info col-12 mt-2">Registrarse</button>

            </form>
        </div>
        
    </div>
</body>
</html>
